<ion-tabs>
  <ion-tab-bar slot="bottom" color="warning">

    <ion-tab-button tab="clientes">
      <ion-icon name="people"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="produccion">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Producción</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="standards">
      <ion-icon name="ribbon"></ion-icon>
      <ion-label>Standards</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
